.app__logo {
  max-height: 40px !important;
  position: relative;
  top: 0px;
}

.message_area {
  width: 100%;
  outline: none;
  border: none;
  padding: 1.5rem;
  line-height: 1.5rem;
  border-radius: 8rem;
  background: transparent;
  font-size: 1rem;
  box-shadow: none;
}